body {
	color: black;
	font-family: 'Bai Jamjuree', sans-serif;
	padding: 0;
	margin: 0;
	font-size: 18px;
	background:#F2F1EF;
}

* {
	box-sizing: border-box;
}

.container {
	width: 1280px;
	margin: 0 auto;
	/* border: 2px solid red; */
}

.logo {
	margin: 32px 0;
	height: 32px;
}

li {
	display: inline;
}

.header .container {
	display: flex;
	justify-content: space-between;
}

.main-menu {
	width: 252px;
	height: 96px;
	font-size: 16px;
}

.main-menu a {
	color: black;
	text-decoration: none;
}

ol {
	display: flex;
	justify-content: space-between;
}

li {
	height: 24px;
	border-bottom: 1px solid;
}

.main-menu ol {
	margin: 0;
	padding: 32px 16px;
}

.header .button{
	width: 126px;
	height: 42px;
	text-align: center;
	padding: 9px 26px;
	font-size: 16px;
	color: black;
	text-decoration: none;
	border: 1px solid black;
	margin: 27px;
	/* transition: all 0.5 ease; */
}

.header .button:hover {
	background: rgb(230, 230, 230);
}

h1 { 
	font-size: 56px;
	font-weight: 400;
	margin-bottom: 32px;
	margin-top: 101px;
}

.main-directions {
	font-size: 23px;
	margin-bottom: 40px;
}

.main-directions img {
	width: 20px;
}

.btn-question {
	background: black;
	color: white;
	text-decoration: none;
	width: 179px;
	height: 50px;
	font-size: 16px;
	border: 1px solid black;
	padding: 13px 33px;
	display: inline-block;
}

.btn-question:hover {
	background: rgb(70, 70, 70);
}

.btn-answear {
	color: black;
	text-decoration: none;
	width: 144px;
	height: 50px;
	font-size: 16px;
	border: 1px solid black;
	padding: 13px 33px;
	display: inline-block;
}

.btn-answear:hover {
	background: rgb(230, 230, 230);
}

.wrapper {
	display: flex;
	justify-content: space-between;
}

.directions {
	background: black;
	color: white;
	transform: rotate(-4.93deg);
	width: 1550px;
	height: 64px;
	margin-top: 110px;
	text-align: center;
	padding-top: 18px;
	left: -0.78%;
	right: -1.08%;
	position: absolute;
}

.direction {
	margin: 0 55px 0 25px;
}
